/freeblocks
/build/
/freeblocks.opk
gmon.out

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Windows
*.vcxproj*
*.opensdf
*.sdf
*.sln
freeblocks.dir/
Win32/

# OSX
CMakeScripts/
Debug/
freeblocks.build/
*.xcodeproj

# GCW-Zero
/pkg/gcw_build/
/pkg/freeblocks.opk

# Android
/pkg/android/bin/
/pkg/android/jni/SDL2/
/pkg/android/jni/SDL2_image/
/pkg/android/jni/SDL2_mixer/
/pkg/android/jni/SDL2_ttf/
/pkg/android/libs/
/pkg/android/obj/

