/freeblocks
/build/
/freeblocks.opk
gmon.out

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Windows
*.vcxproj*
*.opensdf
*.sdf
*.sln
freeblocks.dir/
Win32/

# OSX
CMakeScripts/
Debug/
freeblocks.build/
*.xcodeproj

# GCW-Zero
/pkg/gcw_build/
/pkg/freeblocks.opk

# Android
/pkg/freeblocks-android/.gradle
/pkg/freeblocks-android/.idea
/pkg/freeblocks-android/build
/pkg/freeblocks-android/app/build
/pkg/freeblocks-android/app/app.iml
/pkg/freeblocks-android/local.properties
/pkg/freeblocks-android/app/src/main/libs
/pkg/freeblocks-android/app/src/main/obj
/pkg/freeblocks-android/app/src/main/jni/SDL2
/pkg/freeblocks-android/app/src/main/jni/SDL2_image
/pkg/freeblocks-android/app/src/main/jni/SDL2_mixer
/pkg/freeblocks-android/app/src/main/jni/SDL2_ttf

# Emscripten
game_html.zip
index.data
index.html
index.html.mem
index.js

# Others
freeblocks_itch.tar.gz
