[Desktop Entry]
Name=FreeBlocks
Comment=Puzzle game; Tetris Attack clone
Type=Application
Exec=freeblocks
Icon=freeblocks
Terminal=false
Categories=games;

